@import-normalize;

.App  {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Expense Form */

.expenseForm {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: space-between;
  width: 50%;
  padding: 10px;
}

.expenseForm input {
  flex-grow: 1;
  margin-right: 10px;
  outline: none;
}

.expenseForm button {
  display: flex;
  justify-content: center;
  padding: 5px;
  background-color: #00bf86;
  color: white;
  outline: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.expenseForm button:hover,
.expenseForm button:focus {
  background-color: #04d193;
}

.expenseForm input:focus {
  border: none;
  box-shadow: 0 0 2pt 1pt #04d193;
}

/* Expense List */

.expensesList {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: space-between;
  width: 50%;
  padding: 10px;
}

.expensesList li {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.expensesList li p {

  flex-grow: 1;
}